* {
  margin: 0;
  padding: 0;
}

.card {
  width: 30%;
  margin: auto;
  margin-top: 30px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.011), 0 6.7px 5.3px rgba(0, 0, 0, 0.016), 0 12.5px 10px rgba(0, 0, 0, 0.02),
    0 22.3px 17.9px rgba(0, 0, 0, 0.024), 0 41.8px 33.4px rgba(0, 0, 0, 0.029), 0 100px 80px rgba(0, 0, 0, 0.04);
  padding: 20px;
}

.card p {
  color: #aaa;
  font-size: 30px;
}

.card .title {
  margin-top: 15px;
}

.card hr {
  margin-top: 10px;
  background: #aaa;
}

.input-checkbox {
  padding: 10px;
  display: flex;
  border-bottom: 1px solid #aaa;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
}

.input-checkbox p {
  font-size: 15px;
  color: black;
  margin-left: 10px;
}
/* 
button {
  width: 100%;
  margin-top: 10px;
  padding: 15px;
  background-color: deepskyblue;
  border: none;
  color: white;
} */

button:active {
  background-color: red;
}

.card img {
  width: 100%;
}

.container-tugas10 {
  width: 30%;
  margin: auto;
  margin-top: 30px;
  font-size: 25px;
}

.container-tugas10 .countdown {
  font-size: 12px;
}

.button-create {
  width: 50%;
  margin: auto;
}

.table-list {
  width: 50%;
  margin: auto;
  margin-top: 30px;
}


table, td, th {  
  border: 1px solid #ddd;
  text-align: left;

}

table {
  border-collapse: collapse;
  width: 50%;
  margin: auto;
  margin-top: 30px;
}

th, td {
  padding: 15px;
}


input[type=text],input[type=number], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

form{
  width: 50%;
  height: 50vh;
  margin: auto;
  margin-top: 30px;
}

.box.red{
  width: 100px;
  height: 100px;
  background-color: red;
}

.box.blue{
  width: 100px;
  height: 100px;
  background-color: blue;
}

.table-ant{
  width: 50%;
  margin: auto;
}